.blog-post {
  text-align: left;
  max-width: 50rem;
  margin: 2rem auto;
  font-size: 1.2rem;
  line-height: calc(1.5 * 1.2rem);

  :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  a {
    color: #ae80ff;

    &:hover {
      color: #ff89ff;
    }
  }

  pre {
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;

    font-size: 1rem;
    line-height: calc(1.5 * 1rem);
  }

  :not(pre) > code {
    background-color: #404040;
    padding: 2px 4px;
    border-radius: 4px;

    font-size: 1rem;
    line-height: calc(1.5 * 1rem);
  }

  img {
    max-width: 100%;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    a {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.5rem;
      background-color: #ae80ff;
      color: black;
      font-size: 1rem;
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
